.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Aliniere sus pentru ambele containere */
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

/* general */

.training-list-item-container {
  display: flex;
  flex-direction: column;
}

.section-container {
  margin-bottom: 20px;
  display: inline-flex;
}

.section-container .title {
  font-size: 20px;
  font-weight: 600;
}

.section-container p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.title {
  color: var(--secondary) !important;
}

.content {
  color: #666;
  font-weight: bold;
  margin-left: 10px;
}

/* container-section-right*/

.container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.description {
 height: 100% !important;
 justify-content: start;
 display: flex;
 align-items: start;
}

.container-right img {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.img{
  margin-top: 20px;
}

.right-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* container-section-right */

/* container-section-left */
.container-left {
  background: linear-gradient(to right, #ffffff, #ffffff);
  border: none;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 68%;
  height: 50%;
  box-sizing: border-box;
}

.container-right:hover,
.container-left:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.training-list-item-container {
  display: flex;
  flex-direction: column;
}

.section-container {
  margin-bottom: 20px;
  display: inline-flex;
}

.section-container .title {
  font-size: 20px;
  font-weight: 600;
}

.section-container p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.participants-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10px;
}
