<div class="page-container">
 
  <div class="training-list-item-container container-left">
   <img src="../../../assets/download.jpg" alt="">
  </div>

<div class="training-list-item-container container-right">
    <div class="section-container">
      <h1 class="title">Title</h1>
    </div>
    <div class="section-container">
      <p class="title">Status: In progress/Finished</p>
    </div>
    <div class="section-container">
      <p class="title">Training Type: Online/Face-to-Face</p>
    </div>
    <div class="section-container">
      <p class="title">Deadline</p>
    </div>
    <div class="section-container last"></div>
  </div>

</div>
