.container-left,
.input-container {
  background: linear-gradient(to right, #ffffff, #ffffff);
  border: none;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.input-container {
  margin-top: 20px;
}

.mat-icon {
  color: var(--secondary) !important;
}

.page-container {
  padding: 20px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-staic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 10px;
}

.above-elements-container-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0;
  width: 100%;
}

.elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.paragraf {
  margin-left: 20px;
  margin-top: 0;
  padding: 0;
  padding-right: 20px;
  overflow: auto;
}

.adress-text{
  text-align: justify !important;
  text-justify: inter-word !important;
  margin-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word; 
  display: block; 
}
/* general */

.description-text {
  text-align: justify !important;
  text-justify: inter-word !important;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-right: 20px;
  text-indent: 2em;
}

/* container-section-right */

/* container-section-left */
.container-left {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  margin-bottom: 0 !important;
  /* padding: 20px; */
}

.info {
  width: 50%;
  height: auto;
  margin-left: 20px;
  border-right: 2px solid var(--main-80);
}

.info.employee-version {
  width: 100%;
}

.participants {
  width: 50%;
  height: auto;
  height: 70%;
  padding-right: 10px;
}

.left-above {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.left-above.employee-version {
  width: 48%;
}

.left-all {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.left-all.employee-version {
  width: 100%;
}

.participants-container {
  padding: 20px;
  padding-top: 0;
}

.bold {
  font-weight: bold;
}

.departments-container,
.employees-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  height: auto;
  width: 100%;
}

.participants-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* list emplyees */
.matTooltip {
  font-size: 16px;
  color: #f80000 !important;
  background-color: aqua !important;
}

.participants-button {
  width: 100%;
}

.participants-button:hover,
.participants-button.selected {
  background-color: var(--secondary-5) !important;
  color: var(--secondary) !important;
}

.section-menu-button {
  margin-left: 20px;
  margin-right: 20px;
}

.title-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.main {
  flex: end;
  margin-right: 10px;
}

.delete {
  background-color: var(--secondary) !important;
  color: white !important;
  margin-right: 40px;
}

.menu-button {
  margin-left: 15px;
  width: 100%;
  padding-right: 20px;
}

.menu-button.employee-version {
    margin-left: 15px;
    width: 100%;
  }

.main-option {
  cursor: pointer;
  border-radius: 10px !important;
  font-size: 16px !important;
  display: flex;
  justify-content: row;
  max-width: 250px;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  color: white !important;
}

.departments-container p,
.employees-container p {
  font-size: 16px;
  margin-bottom: 0 !important;
}

.employee-span,
.department-span {
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: start;
}

.training-list-item-container p {
  font-size: 16px;
  line-height: 2;
  align-items: center;
  align-content: center;
}

.deadline{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.bold {
  color: var(--secondary);
}

.title {
  display: inline-block;
  position: relative;
  max-width: fit-content;
  color: var(--secondary);
}

.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--main);
  position: absolute;
  bottom: -5px;
  left: 0;
  border: 1px solid var(--main);
}

/* table */
.mat-mdc-cell:hover {
  background-color: rgb(233, 200, 34) !important;
  color: white !important;
  cursor: pointer;
}

table {
  width: 28%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 28%;
}

.container-tables {
  display: flex;
  flex-direction: row;
  width: 58%;
  justify-content: space-between;
  height: 100%;
  max-height: 590px;
  gap: 1rem;
}

.table-container {
  width: 100%;
  padding: 20px;
  /* background-color: var(--secondary-10); */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.top-table {
  display: flex;
  flex-direction: row;
}

.title-table {
  flex: 1;
  text-align: center;
}

.close {
  color: var(--secondary);
  margin-left: auto;
  border-radius: 30px;
  align-items: center;
  height: 24px !important;
  width: 24px !important;
}

.close:hover {
  cursor: pointer;
  background-color: #f80000;
  color: white;
}
/* table */

/* sections */

.sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 450px;
  padding: 10px;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.section-description-container {
  height: calc(100% - 32px - 60px);
  overflow: auto;
}

.section-right {
  width: 28%;
  padding: 20px;
  height: 100%;
  background-color: var(--secondary-10);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: height 0.3s ease;
}

.expanded {
  height: auto !important;
}

.section-left {
  width: 70%;
  padding: 20px;
  height: 100%;
  margin-left: 20px;
}

/* accordion */
.example-action-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
  margin-top: 10px !important;
}

ul {
  list-style-type: none; /* Elimină punctele de la li */
  padding: 0;
}

li {
  margin-bottom: 10px; /* Spațiere între elemente */
  width: 100%;
  align-items: center;
  text-align: left;
  padding: 5px;
}

li:hover {
  cursor: pointer;
  background-color: var(--secondary-10);
  font-family: "Roboto", sans-serif !important;
  color: var(--secondary) !important;
  color: rgb(0, 0, 0) !important;
}

mat-label {
  margin-left: 60px !important;
}

.section-menu-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 8px;
}

.section-menu-button:hover {
  background-color: var(--secondary-10);
}

.section-menu-button.active {
  background-color: var(--secondary);
}

.section-menu-button-label {
  font-weight: bold;
}

.section-menu-button-icon,
.section-menu-button-label {
  /* color: var(--secondary-40); */
  color: rgb(60, 60, 60) !important;
}

.section-menu-button > .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controls-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
