<div class="root-container">
  <h1 class="component-main-title">Employee Page</h1>
  <div class="sections-container">
    <section class="main-info">
      @if (employeeData$ | async; as employee) {
      <div class="personal-info-container">
        <h2>Personal Info</h2>
        <p>Employee ID: <span class="bold"></span>{{ employee.employeeId }}</p>

        <p>
          User ID: <span class="bold">{{ employee.userId }}</span>
        </p>

        <p>
          Full Name: <span class="bold">{{ employee.fullName }}</span>
        </p>

        <p>
          Department: <span class="bold">{{ employee.departmentName }}</span>
        </p>

        <p>
          Trainer:
          <span class="bold">{{ employee.trainer ? "True" : "False" }}</span>
        </p>
      </div>
      }

      <div class="stats-container">
        <h2>Brief Stats</h2>
        <div class="stats-wrapper">
          @if (missedTrainings$ | async; as missedTrainings) {
          <div class="stat-container missed">
            <p>Missed Trainings</p>
            <p class="bold stat-value missed">{{ missedTrainings?.length }}</p>
          </div>
          }

          <div class="stat-container completed">
            <p>Completed Trainings</p>
            <p class="bold stat-value completed">8</p>
          </div>

          <div class="stat-container upcoming">
            <p>Upcoming Trainings</p>
            <p class="bold stat-value upcoming">10</p>
          </div>
        </div>
      </div>
    </section>

    <section class="trainings-section">
      <div class="trainings-container">
        <h2>Trainings</h2>
        <mat-tab-group>
          <mat-tab label="Completed">
            <ul class="training-list">
              <li>
                <div class="training-list-item-container">
                  <div class="section-container">
                    <p class="title">Training Name</p>
                    <p class="description">Training 1</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Training Type</p>
                    <p class="description">Face-to-face</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Deadline</p>
                    <p class="description">01/01/2024</p>
                  </div>
                  <div class="section-container last">
                    <button class="main-button">More Info</button>
                  </div>
                </div>
              </li>
            </ul>
          </mat-tab>
          <mat-tab label="Upcoming"
            ><ul class="training-list">
              <li>
                <div class="training-list-item-container">
                  <div class="section-container">
                    <p class="title">Training Name</p>
                    <p class="description">Training 1</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Training Type</p>
                    <p class="description">Face-to-face</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Deadline</p>
                    <p class="description">01/01/2024</p>
                  </div>
                  <div class="section-container last">
                    <button class="main-button">More Info</button>
                  </div>
                </div>
              </li>
            </ul></mat-tab
          >
          <mat-tab label="Missed">
            @if (missedTrainings$ | async; as missedTrainings) {
            <ul class="training-list">
              @for (training of missedTrainings; track training) {
              <li>
                <div class="training-list-item-container">
                  <div class="section-container">
                    <p class="title">{{ training?.title }}</p>
                    <p class="description">Training 1</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Training Type</p>
                    <p class="description">
                      {{ training?.individual ? "Individual" : "Workshop" }}
                    </p>
                  </div>
                  <div class="section-container">
                    <p class="title">Deadline</p>
                    <p class="description">
                      {{
                        convertDate(training.deadline ? training.deadline : "")
                      }}
                    </p>
                  </div>
                  <div class="section-container last">
                    <button class="main-button" [routerLink]="['/dashboard/training', training.trainingId]">More Info</button>
                  </div>
                </div>
              </li>
              }
            </ul>
            }
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </div>
</div>
