.sections-container {
  padding-left: 2rem;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

section,
.stat-container {
  background: var(--tertiary);
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  -moz-box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  font-family: bold var(--main-font);
  color: var(--secondary);
  font-size: medium;
  height: auto;
  width: 100%;
  padding: 2rem;
}

.bold {
  font-weight: bold;
}

.stat-value {
  font-size: 1.5rem;
}

.stat-container.completed {
  background-color: rgb(0, 173, 0);
}

.stat-container.in-progress {
  background-color: rgb(233, 200, 34);
}

.stat-container.upcoming {
  background-color: var(--secondary);
}

.stat-container.missed {
  color: var(--tertiary);
  background-color: rgb(224, 9, 9);
}

.stat-container {
  padding: 1rem;
  color: var(--tertiary);
}

.main-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.personal-info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
  width: 48%;
}

.stats-container {
  width: 48%;
}

.stats-wrapper {
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.stat-container {
  width: 48%;
}

/* .stats-wrapper :last-child {
  width: 100%;
}

@media screen and (max-width: 1235px) {
  .stat-container {
    width: 100%;
  }
} */

.stat-container:hover {
  transform: translate(0, -5px);
  transition: transform 0.3s;
}

.training-list {
  margin: 0;
  padding: 0;
}

.training-list-item-container {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;
}

/* h2 {
  font-family: bold var(--main-font);
  color: var(--secondary);
  font-size: 18px;
  font-weight: bold;
} */
