<div class="root-container">
  <h1 class="component-main-title">{{adminVersion ? 'Employee Page' : 'Welcome'}}</h1>
  <div class="sections-container">
    <section class="main-info">
      @if (employeeData$ | async; as employee) {
      <div class="personal-info-container">
        <h2>Personal Info</h2>
        <p>
          Employee ID: <span class="bold">{{ employee.employeeId }}</span>
        </p>

        <p>
          User ID: <span class="bold">{{ employee.userId }}</span>
        </p>

        <p>
          Full Name: <span class="bold">{{ employee.fullName }}</span>
        </p>

        <p>
          Department: <span class="bold">{{ employee.departmentName }}</span>
        </p>

        <p>
          Trainer:
          <span class="bold">{{ employee.trainer ? "True" : "False" }}</span>
        </p>
      </div>
      }

      <div class="stats-container">
        <h2>Brief Stats</h2>
        <div class="stats-wrapper">
          @if (missedTrainings$ | async; as missedTrainings) {
          <div class="stat-container missed">
            <p>Missed Trainings</p>
            <p class="bold stat-value missed">{{ missedTrainings?.length }}</p>
          </div>
          } @if (completedTrainings$ | async; as completedTrainings) {
          <div class="stat-container completed">
            <p>Completed Trainings</p>
            <p class="bold stat-value completed">
              {{ completedTrainings?.length }}
            </p>
          </div>
          } @if (inProgressTrainings$ | async; as inProgressTrainings) {
          <div class="stat-container in-progress">
            <p>In Progress Trainings</p>
            <p class="bold stat-value upcoming">
              {{ inProgressTrainings?.length }}
            </p>
          </div>
          } @if (upcomingTrainings$ | async; as upcomingTrainings) {
          <div class="stat-container upcoming">
            <p>Upcoming Trainings</p>
            <p class="bold stat-value upcoming">
              {{ upcomingTrainings?.length }}
            </p>
          </div>
          }
        </div>
      </div>
    </section>

    <section class="trainings-section">
      <div class="trainings-container">
        <h2>Trainings</h2>
        <mat-tab-group>
          <mat-tab label="Completed">
            @if (completedTrainings$ | async; as completedTrainings) {
            <ul class="training-list">
              @for (training of completedTrainings; track training) {
              <li>
                <div class="training-list-item-container">
                  <div class="section-container">
                    <p class="title">Title</p>
                    <p class="description">{{ training?.title }}</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Training Type</p>
                    <p class="description">
                      {{ training?.individual ? "Individual" : "Workshop" }}
                    </p>
                  </div>
                  <div class="section-container">
                    <p class="title">Deadline</p>
                    <p class="description">
                      {{
                        convertDate(training.deadline ? training.deadline : "")
                      }}
                    </p>
                  </div>
                  <div class="section-container last">
                    <button
                      class="main-button"
                      [routerLink]="[
                        '/dashboard/training',
                        training.trainingId
                      ]"
                    >
                      More Info
                    </button>
                  </div>
                </div>
              </li>
              }
            </ul>
            }
          </mat-tab>
          <mat-tab label="In Progress">
            @if (inProgressTrainings$ | async; as inProgressTrainings) {
            <ul class="training-list">
              @for (training of inProgressTrainings; track training) {
              <li>
                <div class="training-list-item-container">
                  <div class="section-container">
                    <p class="title">Title</p>
                    <p class="description">{{ training?.title }}</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Training Type</p>
                    <p class="description">
                      {{ training?.individual ? "Individual" : "Workshop" }}
                    </p>
                  </div>
                  <div class="section-container">
                    <p class="title">Deadline</p>
                    <p class="description">
                      {{
                        convertDate(training.deadline ? training.deadline : "")
                      }}
                    </p>
                  </div>
                  <div class="section-container last">
                    <button
                      class="main-button"
                      [routerLink]="[
                        '/dashboard/training',
                        training.trainingId
                      ]"
                    >
                      More Info
                    </button>
                  </div>
                </div>
              </li>
              }
            </ul>
            }
          </mat-tab>
          <mat-tab label="Upcoming">
            @if (upcomingTrainings$ | async; as upcomingTrainings) {
            <ul class="training-list">
              @for (training of upcomingTrainings; track training) {
              <li>
                <div class="training-list-item-container">
                  <div class="section-container">
                    <p class="title">Title</p>
                    <p class="description">{{ training?.title }}</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Training Type</p>
                    <p class="description">
                      {{ training?.individual ? "Individual" : "Workshop" }}
                    </p>
                  </div>
                  <div class="section-container">
                    <p class="title">Deadline</p>
                    <p class="description">
                      {{
                        convertDate(training.deadline ? training.deadline : "")
                      }}
                    </p>
                  </div>
                  <div class="section-container last">
                    <button
                      class="main-button"
                      [routerLink]="[
                        '/dashboard/training',
                        training.trainingId
                      ]"
                    >
                      More Info
                    </button>
                  </div>
                </div>
              </li>
              }
            </ul>
            }
          </mat-tab>
          <mat-tab label="Missed">
            @if (missedTrainings$ | async; as missedTrainings) {
            <ul class="training-list">
              @for (training of missedTrainings; track training) {
              <li>
                <div class="training-list-item-container">
                  <div class="section-container">
                    <p class="title">Title</p>
                    <p class="description">{{ training?.title }}</p>
                  </div>
                  <div class="section-container">
                    <p class="title">Training Type</p>
                    <p class="description">
                      {{ training?.individual ? "Individual" : "Workshop" }}
                    </p>
                  </div>
                  <div class="section-container">
                    <p class="title">Deadline</p>
                    <p class="description">
                      {{
                        convertDate(training.deadline ? training.deadline : "")
                      }}
                    </p>
                  </div>
                  <div class="section-container last">
                    <button
                      class="main-button"
                      [routerLink]="[
                        '/dashboard/training',
                        training.trainingId
                      ]"
                    >
                      More Info
                    </button>
                  </div>
                </div>
              </li>
              }
            </ul>
            }
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </div>
</div>
