<div class="report-container">
  <h1 class="component-main-title">Hello Admin</h1>
  <h2 class="component-subtitle">Last Stats</h2>
  @if (startDate && endDate) {
  <h2 class="range-heading">
    {{ convertDate(startDate) + " - " + convertDate(endDate) }}
  </h2>
  }

  <div class="sections-container">
    <section class="date-ranges">
      <form class="date-range-form" (submit)="onSubmit()" [formGroup]="range">
        <mat-form-field appearance="outline" class="range-date">
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (range.controls.start.hasError('matStartDateInvalid')) {
          <mat-error>Invalid start date</mat-error>
          } @if (range.controls.end.hasError('matEndDateInvalid')) {
          <mat-error>Invalid end date</mat-error>
          }
        </mat-form-field>
        <button class="main" mat-flat-button type="submit">Apply Range</button>
      </form>
    </section>

    <section class="completion-rates">
      <div class="completion-rates-container">
        <h2>Overall Completion Rates</h2>
        <!-- <app-pie-grid></app-pie-grid> -->
        <div class="gauge-charts-container">
          <app-gauge-chart
            [data]="[{ name: 'All', value: overallPercentage }]"
            [title]="'All trainings %'"
          ></app-gauge-chart>
          @if (individualDepartmentProgress.length > 0) {
          <app-gauge-chart
            [data]="individualDepartmentProgress"
            [title]="'Departments %'"
          ></app-gauge-chart>
          } @else {
          <app-gauge-chart
            [data]="[]"
            [title]="'Departments %'"
          ></app-gauge-chart>
          }
        </div>
      </div>
    </section>

    <section class="total-assigned-trainings">
      <div class="total-assigned-trainings-container">
        <h2>Total assigned trainings</h2>
        <mat-tab-group>
          @if( individualDepartmentTotalTrainings.length > 0 ) {
          <mat-tab label="By Department"
            ><app-advanced-pie
              [data]="individualDepartmentTotalTrainings"
            ></app-advanced-pie
          ></mat-tab>
          } @else {
          <mat-tab label="By Department"
            ><app-advanced-pie [data]="[]"></app-advanced-pie
          ></mat-tab>
          } @if (individualTypeTotalTrainings.length > 0) {
          <mat-tab label="By Type"
            ><app-advanced-pie
              [data]="individualTypeTotalTrainings"
            ></app-advanced-pie
          ></mat-tab>
          } @else {
          <mat-tab label="By Type"
            ><app-advanced-pie [data]="[]"></app-advanced-pie
          ></mat-tab>
          }
        </mat-tab-group>
      </div>
    </section>

    <section class="departments-stats">
      <div class="departments-stats-container">
        <h2>Departments Stats</h2>
        @if (individualDepartmentCompleteProgress.length > 0) {
        <app-grouped-vertical-bar-chart
          [data]="individualDepartmentCompleteProgress"
        ></app-grouped-vertical-bar-chart>
        } @else {
        <app-grouped-vertical-bar-chart
          [data]="[]"
        ></app-grouped-vertical-bar-chart>
        }
      </div>
    </section>
  </div>
</div>
