<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="navbar-right-section">
    <a class="navbar-brand" href="/dashboard">Navbar</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <a
      class="btn btn-white dropdown-toggle"
      style="margin-right: 20px"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      (click)="toggleDropdown()"
    >
      Admin
    </a>

    <ul
      class="dropdown-menu"
      style="margin-top: 140px; margin-right: 30px"
      [class.show]="isDropdownOpen"
    >
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Account settings</a></li>
      <li><a class="dropdown-item" (click)="logOut()">Log out</a></li>
    </ul>
    <div class="navbar-icons-container">
      <mat-icon
        class="navbar-icon-button"
        matBadge="15"
        matBadgeColor="warn"
        >notifications</mat-icon
      >
      <mat-icon class="navbar-icon-button">note_add</mat-icon>
    </div>
  </div>
</nav>
