.btn-notifications {
  border: none;
  background: none;
  margin-right: 20px;
}

.navbar {
  background-color: white !important;
}

.navbar {
  padding: 0;
  border-bottom: 1px solid var(--secondary-10);
}

.navbar-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 240px;
  background-color: white;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  color: var(--main);
  margin-left: 20px;
  font-weight: bold;
}

.btn {
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: var(--main-font);
  color: var(--main);
  border: 1px solid;
  overflow: hidden;
}

.btn:hover {
  background-color: var(--main-20);
  color: var(--secondary);
}

.btn:active {
  background-color: var(--main-10);
}

.dropdown-menu {
  background-color: var(--secondary);
  padding: 0;
  border: 1px solid;
  overflow: hidden;
}

.dropdown-item {
  cursor: pointer;
  font-family:  var(--main-font);
  color: rgb(255, 255, 255);
  font-size: large,;
  width: 100%;
  font-weight: solid;
}

.dropdown-item:hover {
  background-color: white;
  color: var(--secondary);
}

.dropdown-item-active {
  background-color: rgb(255, 255, 255);
  color: var(--secondary);
}


.navbar-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 1.5rem;
}

.navbar-icon-button {
  color: var(--secondary);
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3rem;
  width: auto;
  height: auto;
}

.navbar-icon-button:hover {
  background-color: var(--secondary-10);
}
