<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="navbar-right-section">
    <div class="logo-rapper"></div>
  </div>

  <!-- search bar -->
  <div class="search">
    <form class="form" >
      <div class="input-group">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [formControl]="control"
        />
        <button class="btn1 btn-outline-success" type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>

   
  
  <!-- search bar -->

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    @if (user$ | async; as user) {
    <button
      class="btn btn-white dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      (click)="toggleDropdown()"
    >
      {{ user.fullName + " : " + user.role }}
    </button>
    }

    <ul
      class="dropdown-menu"
      style="margin-top: 120px; margin-right: 90px"
      [class.show]="isDropdownOpen"
    >
      <li>
        <a
          class="dropdown-item"
          href="#"
          routerLink="/dashboard/settings"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Settings</a
        >
      </li>
      <li><a class="dropdown-item" (click)="logOut()">Log out</a></li>
    </ul>
    <div class="navbar-icons-container">
      <!-- <mat-icon class="navbar-icon-button" matBadge="7" matBadgeColor="warn" routerLink="/dashboard/notifications"
      matTooltip="Notifications"
      matTooltipPosition="below"
        >notifications</mat-icon
      > -->
      <mat-icon
        class="navbar-icon-button"
        (click)="openDialog()"
        matTooltip="Add training"
        matTooltipPosition="below"
        >note_add</mat-icon
      >
    </div>
  </div>
  </div>
</nav>
