.btn-notifications {
  border: none;
  background: none;
  margin-right: 20px;
}

.navbar {
  background-color: white !important;
}

.navbar {
  padding: 0;
  border-bottom: 1px solid var(--secondary-10);
}

.navbar-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 240px;
  padding: 0.5rem;
}

.logo-rapper {
  background-image: url("../../../assets/logo\ Ortec.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  width: 80%;
  height: 100%;
  padding: 1.2rem;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  color: var(--main);
  margin-left: 20px;
  font-weight: bold;
}

.btn {
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--main-font);
  color: var(--main);
  overflow: hidden;
  margin: 0;
  padding: 10px;
  border: 1px color(rgb(238, 238, 238));
}

.btn:hover {
  background-color: var(--main-20);
  color: var(--secondary);
}

.btn.active {
  background-color: var(--main-10);
}

.dropdown-menu {
  background-color: var(--secondary);
  padding: 0;
  border: 1px solid;
  overflow: hidden;
}

.dropdown-item {
  cursor: pointer;
  font-family: var(--main-font);
  color: rgb(255, 255, 255);
  font-size: large;
  width: 100%;
  font-weight: solid;
}

.dropdown-item:hover {
  background-color: white;
  color: var(--secondary);
}

.dropdown-item.active {
  background-color: rgb(255, 255, 255);
  color: var(--secondary);
}

.navbar-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  padding-left: 0.5rem;
  gap: 1.5rem;
  margin-right: 20px;
}

.navbar-icon-button {
  color: var(--secondary);
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3rem;
  width: auto;
  height: auto;
}

.navbar-icon-button:hover {
  background-color: var(--secondary-10);
}

/* search bar start */
.search {
  display: flex;
  justify-content: center;
  background-color: none;
  width: 40%;
  border: none;
  margin-left: 100px;
  margin-right: 100px;
}

.search-results {
  position: absolute;
  top: calc(100% + 1px); /* Poziționează sub input-ul de căutare, cu o mică separare */
  left: -30;
  width: 40%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asigură că apare peste celelalte elemente */

}

.search-result-link {
  text-decoration: none;
  color: inherit;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}
/* search bar end*/

.input-group {
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 50px;
}
/* 

.btn1 {
  position: absolute;
  padding-top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--main);
  cursor: pointer;
  font-size: 18px;
}

.btn1:hover {
  color: var(--secondary);
}

.user-name {
  color: var(--secondary);
}

/* navbar  */
