<div class="root-container">
  <h2>Add training</h2>
  <div class="form-left" *ngIf="trainingForm">
    <form
      class="training-form"
      *ngIf="trainingForm"
      [formGroup]="trainingForm"
      (ngSubmit)="onSubmitTrainings()"
    >
    
      <section clas="training-form-left">
        <div class="input-container">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Ttile name" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Details about training"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Offline/Online</mat-label>
            <mat-select formControlName="online">
              <mat-option value="one">Offline</mat-option>
              <mat-option value="two">Online</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="date-time">
            <mat-form-field appearance="outline" class="date">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                formControlName="deadline"
                [matDatepicker]="picker"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <input
              class="time"
              formControlName="time"
              placeholder="Select time"
              type="time"
            />
          </div>
          <!-- <app-chips-autocomplete></app-chips-autocomplete> -->
        </div>
        <button class="main" type="submit" mat-flat-button>Submit</button>
      </section>
    </form>
  </div>
</div>
