<div class="root-container">
  <form class="training-form">
    <div class="input-container">
      <label for="training-title" class="form-label">Title</label>
      <input
        type="text"
        class="input"
        id="training-title"
        placeholder="Enter title"
      />
    </div>
    <div class="input-container">
      <label for="training-description" class="form-label">Description</label>
      <textarea
        class="input textarea"
        id="training-description"
        rows="5"
        placeholder="Enter description"
      ></textarea>
    </div>
  </form>
</div>
