.root-container {
  padding: 0.5rem 1rem;
  overflow: aut0;
  max-height: 100vh !important;
  width: 100%;
}

.training-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.training-first-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.title , .type{
  width: 48%;
}

.adress{
  width: 100%;
}

section {
  width: 100%;
  margin-left: 15px;
  background: var(--tertiary);
  border-radius: 12px;
  margin-top: 10px;
  margin-left: auto;
  font-family: bold var(--main-font);
  color: var(--secondary);
  font-size: medium;
}

.section1{
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
}

.autocomplete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selector1, .selector2{
  width: 48%;
}

.section1 h3{
  margin-top: 0;
  margin-bottom: 16px;
}


.date-time {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.date {
  width: 60%;
}

.toggle-custom-icon-example{
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timepicker-overlay{
  z-index: 1000;
}

.time-picker {
  width: 100%;
  height: 70%;
 
}

.active {
  color: var(--main) !important
}

.svg{
  color: var(--secondary);
}

h2 {
text-align: center;
}

button {
 width: 100%;
}


/* toggle */

mat-button-toggle-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-button-toggle {
  width: 100%;
}

.mat-button-toggle-checked {
  background-color:  #62ca8d !important;
  color: rgb(0, 0, 0) !important;
}

.mat-button-toggle-group {
  width: 100%;
  margin-top: 10px;
}

app-employee-department-autoselector {
  width: 48%;
}

