.root-container {
  background: #f1f2f7;
  height: 100%;
  width: 240px;
  padding: 2rem 1rem;
}

.menu-title {
  font-weight: normal;
  font-size: 1rem;
}

.menu-wrapper {
  width: 100%;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  height: 40px;
  padding: 1.5rem 1rem;
  cursor: pointer;
  margin-bottom: 8px;
}

.menu-button:hover {
  background-color: var(--main-10);
}

.menu-button.active {
  background-color: var(--main-10);
  border: 1px solid #dedede;
}

.menu-button-label {
  font-weight: bold;
}

.menu-button-icon,
.menu-button-label {
  color: var(--light-purple);
}

.menu-button-icon.active,
.menu-button-label.active {
  color: var(--main);
}
