.root-container {
  background: #f1f2f7;
  height: 100%;
  width: 240px;
  padding: 2rem 1rem;
}

.menu-wrapper {
    width: 100%;
    height: 300px;
    background-color: bisque;
}

.menu-list {
    list-style: none;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 4px;
}

.menu-button-label {
    font-weight: bold;
}