<div class="root-container">
  <h1 class="component-main-title">Upcoming Trainings</h1>
  <div class="training-list-container">
    @if (upcomingTrainings$ | async; as upcomingTrainings) {
    <ul class="training-list">
      @for (training of upcomingTrainings; track training) {
      <li>
        <div class="training-list-item-container">
          <div class="section-container">
            <p class="title">Title</p>
            <p class="description">{{ training?.title }}</p>
          </div>
          <div class="section-container">
            <p class="title">Training Type</p>
            <p class="description">
              {{ training?.individual ? "Individual" : "Workshop" }}
            </p>
          </div>
          <div class="section-container">
            <p class="title">Deadline</p>
            <p class="description">
              {{ convertDate(training.deadline ? training.deadline : "") }}
            </p>
          </div>
          <div class="section-container last">
            <button
              class="main-button"
              [routerLink]="['/dashboard/training', training.trainingId]"
            >
              More Info
            </button>
          </div>
        </div>
      </li>
      }
    </ul>
    }
  </div>
</div>
