<div class="root-container">
  <h1 class="component-main-title">Upcoming Trainings</h1>
   <!-- <div>{{test | async}}</div> -->
  <div class="training-list-container">
    <ul class="training-list">
      <li>
        <div class="training-list-item-container">
          <div class="section-container">
            <p class="title">Training Name</p>
            <p class="description">Training 1</p>
          </div>
          <div class="section-container">
            <p class="title">Employee Name</p>
            <p class="description">Full Name</p>
          </div>
          <div class="section-container">
            <p class="title">Training Type</p>
            <p class="description">Face-to-face</p>
          </div>
          <div class="section-container">
            <p class="title">Deadline</p>
            <p class="description">01/01/2024</p>
          </div>
          <div class="section-container last">
            <button class="main-button">More Info</button>
          </div>
        </div>
      </li>
      <li>
        <div class="training-list-item-container">
          <div class="section-container">
            <p class="title">Training Name</p>
            <p class="description">Training 1</p>
          </div>
          <div class="section-container">
            <p class="title">Employee Name</p>
            <p class="description">Full Name</p>
          </div>
          <div class="section-container">
            <p class="title">Training Type</p>
            <p class="description">Face-to-face</p>
          </div>
          <div class="section-container">
            <p class="title">Deadline</p>
            <p class="description">01/01/2024</p>
          </div>
          <div class="section-container last">
            <button class="main-button">More Info</button>
          </div>
        </div>
      </li>
      <li>
        <div class="training-list-item-container">
          <div class="section-container">
            <p class="title">Training Name</p>
            <p class="description">Training 1</p>
          </div>
          <div class="section-container">
            <p class="title">Employee Name</p>
            <p class="description">Full Name</p>
          </div>
          <div class="section-container">
            <p class="title">Training Type</p>
            <p class="description">Face-to-face</p>
          </div>
          <div class="section-container">
            <p class="title">Deadline</p>
            <p class="description">01/01/2024</p>
          </div>
          <div class="section-container last">
            <button class="main-button">More Info</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
