<div class="root-container">
  <h1>Notifications</h1>
  <div class="training-list-container">
    <ul class="training-list">
      <li>
        <div class="training-list-item-container">
          <div class="section-container">
            <p class="title">Sender</p>
            <p class="description">System</p>
          </div>
          <div class="section-container">
            <p class="title">Subject</p>
            <p class="description">Training Reminder</p>
          </div>
          <div class="section-container">
            <p class="title">Message</p>
            <p class="description">Lorem ipsum, dolor sit ipsum ...</p>
          </div>
          <div class="section-container">
            <p class="title">Date</p>
            <p class="description">01/05/2024</p>
          </div>
          <div class="section-container last">
            <div class="main-button icon">
                More
              <mat-icon class="menu-button-icon">keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
˝
