section {
  width: 100%;
  margin-left: 15px;
  background: var(--tertiary);
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  -moz-box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  padding: 2rem;
  margin: 20px;
  margin-left: auto;
  font-family: bold var(--main-font);
  color: var(--secondary);
  font-size: medium;
}

section:hover {
    transform: translate(0, -5px);
    transition: transform 0.3s;
}

h1 {
  font-family: bold var(--main-font);
  color: var(--main);
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-family: bold var(--main-font);
  color: var(--secondary);
  font-size: 18px;
  font-weight: bold;
}

input {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
 
}

button {
  border-radius: 0;
  background-color: var(--secondary-40);
  color: #ffffff;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: var(--secondary-40);
  }

label {
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.role {
    font-weight: bold;
}

