<div class="settings-container">
  <h1>Settings</h1>

  <section class="profile-settings">
    <h2>Admin Profile Settings</h2>
    <form class="form admin" *ngIf="user$ | async as user">
      <p>
        Role: <span class="role">{{ user.role }}</span>
      </p>

      <label for="name"> Full Name:</label>
      <input type="text" id="name" name="name" [value]="user.fullName" />

      <label for="email"> Email:</label>
      <input type="email" id="email" name="email" [value]="user.email" />

      <button type="submit">Save Changes</button>
    </form>
  </section>

  <section class="notification-settings">
    <h2>Change Password</h2>
    <form class="form password">
      <label for="old-password">Old Password:</label>
      <input type="password" id="old-password" name="password" />

      <label for="new-password">New Password:</label>
      <input type="password" id="new-password" name="password" />

      <button type="submit">Save Changes</button>
    </form>
  </section>

  <!-- <section class="security-settings">
    <h2>Security Settings</h2>
      <form>
        <label for="2fa">Two-Factor Authentication (2FA):</label>
        <input type="checkbox" id="2fa" name="2fa">
        
        <h3>Connected Devices</h3>
        <ul>
          <li>Device 1 - Last active: Yesterday</li>
          <li>Device 2 - Last active: 3 days ago</li>
        </ul>
        
        <button type="submit">Save Changes</button>
      </form>
  </section> -->

  <!-- <section class="preferences-settings">
      <h2>Training Preferences</h2>
      <form>
        <label for="language">Preferred Language:</label>
        <select id="language" name="language">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="fr">French</option>
        </select>
        
        <label for="training-type">Preferred Training Type:</label>
        <select id="training-type" name="training-type">
          <option value="technical">Technical</option>
          <option value="non-technical">Non-Technical</option>
        </select>
        
        <label for="difficulty">Preferred Difficulty Level:</label>
        <select id="difficulty" name="difficulty">
          <option value="beginner">Beginner</option>
          <option value="intermediate">Intermediate</option>
          <option value="advanced">Advanced</option>
        </select>
        
        <button type="submit">Save Changes</button>
      </form>
    </section> -->

  <!-- <section class="account-settings">
      <h2>Account Management</h2>
      <form>
        <label for="subscription">Subscription Plan:</label>
        <input type="text" id="subscription" name="subscription" value="Premium" readonly>
        
        <label for="billing-history">Billing History:</label>
        
        <button type="submit">Cancel Account</button>
      </form>
    </section> -->

  <!-- <section class="admin-settings">
      <h2>Admin Settings</h2>
      <form>
        <label for="manage-users">Manage Users:</label>
        <button id="manage-users">Go to User Management</button>
        
        <label for="access-permissions">Access and Permissions:</label>
        <button id="access-permissions">Configure Access</button>
        
        <label for="group-settings">Groups and Teams:</label>
        <button id="group-settings">Manage Groups</button>
      </form>
    </section> -->
</div>
