.calendar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.calendar {
  padding-right: 10px;
  width: 100%;
  min-width: 384px;
  border-radius: 12%;
}

.calendar-headline {
  display: flex;
  font-size: large;
  margin-bottom: 20px;
  align-items: center;
  padding: 0 20px;
  position: relative; /* Add this */
  height: 30px;
}

.calendar-headline-month {
  font-weight: 600;
  position: absolute; /* Add this */
  left: 50%; /* Add this */
  transform: translateX(-50%); /* Add this */
}

.calendar-headline-controls {
  padding: 40px;
  margin-right: 0px;
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
}

.calendar-headline-controls-left,
.calendar-headline-controls-right {
  display: flex;
}

.calendar-headline-controls-left {
  justify-self: start;
}

.calendar-headline-controls-right {
  justify-content: flex-end;
  margin-right: 30px;
}

.btn {
  border-radius: 0;
  background-color: var(--secondary-40);
  color: #ffffff;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}

.btn:active {
  background-color: #ffffff;
  color: #000000;
}

.radius-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.radius-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.calendar-headline-control:hover {
  text-decoration: underline;
}

.calendar-headline-control-month {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.calendar-headline-control-day {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.calendar-weeks-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 12px;
  background-color: rgb(252, 138, 46);
  font-size: larger;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  border-top: 1px solid rgb(190, 190, 190);

  border-right: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}

.calendar-weeks-grid-cell {
  text-align: center;
  padding: 20px;
  border-left: 1px solid rgb(206, 206, 206);
  cursor: pointer;
}

.calendar-weeks-grid-cell:hover {
  background: var(--main);
}

.calendar-weeks-grid-cell-active {
  background: var(--main);
  color: rgb(255, 255, 255);
}

/* icon-add-calendar */
.visible {
  overflow: hidden;
}


.add-training-icon {
  margin-top: 17px;
  margin-left: 47px;
  color: white
}

.add-training-icon:hover {
  color: white;
}
/* icon settings */


.calendar-grid-cell {
  position: relative;
}

.calendar-grid {
  display: grid;
  background-color: rgb(244, 244, 244);
  color: #000000;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  border: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  overflow: hidden;
  border-bottom-right-radius: 12px;
}

.calendar-grid-cell-inactive {
  background-color: #d8d7d7;
  color: #ffffff;
}

.calendar-grid-cell {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid rgb(206, 206, 206);
  border-right: 1px solid rgb(206, 206, 206);
  position: relative;
}

.events-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 5px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.event-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main); 
}

.add-training-icon {
  font-size: 24px; /* Adjust the size as needed */
  color: var(--main); /* Change the color as needed */
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden; /* Hidden by default */
  right: 5%;
}

.calendar-grid-cell:hover {
  background: var(--secondary-40);
  color: rgb(255, 255, 255);
}

.calendar-grid-cell-active {
  background: var(--secondary-40);
  color: rgb(255, 255, 255);
}

.add-event-btn {
  margin-top: 20px;
  background-color: var(--primary-40);
  color: var(--main);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-event-btn:hover {
  background-color: var(--primary-60);
}

.schedule {
  width: 30%;
  margin-left: 15px;
  background: var(--tertiary);
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  -moz-box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  box-shadow: 0px 0px 51px -19px rgba(145, 145, 145, 1);
  padding: 1rem;
}

.schedule-headline {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(0, 44, 104);
  padding: 0.5rem;
  overflow: auto;
}

.schedule-headline-p {
  font-family: var(--main-font);
}



/* meeting section */

.meeting-container {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  height: 20px;
}

.meeting-button {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: auto;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: var(--secondary-10); /* Fundalul implicit */
  text-align: center;
  color: black; /* Culoarea textului */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
}

.mat-icon {
  size: 1px;
}

.meeting-button:hover {
  background-color: var(--secondary-40);
  color: white;
}

.meeting-button:active{
  background-color: var(--secondary-40);
  color: white;
}

.material-symbols-outlined{
  font-size: 20px
}

.edit:hover {
  color: rgb(46, 189, 46);
}
.edit:active {
  color: rgb(46, 189, 46);
}

.delete:hover{
  color: red;
}
.delete:active{
  color: red;
}

.training-edit-button {
  z-index: 3;
}


/* meeting section */