<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<div class="calendar-container">
  <div class="calendar">
    <div class="calendar-headline">
      <div class="calendar-headline-month">
        {{ firstDayOfActiveMonth().monthShort }},
        {{ firstDayOfActiveMonth().year }}
      </div>

      <div class="calendar-headline-controls">
        <div class="calendar-headline-controls-left">
          <button
            type="button"
            class="btn radius-left"
            (click)="goToPreviousMonth()"
          >
            Previous
          </button>
          <button type="button" class="btn" (click)="goToToday()">Today</button>
          <button
            type="button"
            class="btn radius-right"
            (click)="goToNextMonth()"
          >
            Next
          </button>
        </div>

        <div class="calendar-headline-controls-right">
          <button
            type="button"
            class="btn calendar-headline-control-month"
            (click)="goToCurrentMonth()"
          >
            Month
          </button>
          <button
            type="button"
            class="btn calendar-headline-control-week"
            (click)="goToCurrentMonth()"
          >
            Week
          </button>
          <button
            type="button"
            class="btn calendar-headline-control-day"
            (click)="goToToday()"
          >
            Day
          </button>
        </div>
      </div>
    </div>

    <div class="calendar-weeks-grid">
      @for (weekDay of weekDays(); track $index) {
      <div class="calendar-weeks-grid-cell">{{ weekDay }}</div>
      }
    </div>
    <div class="calendar-grid">
      @for (dayOfMonth of daysOfMonth(); track $index) {
      <div
        [ngClass]="{
          'calendar-grid-cell': true,
          'calendar-grid-cell-active':
            activeDay()?.toISODate() === dayOfMonth.toISODate(),
          'calendar-grid-cell-inactive':
            dayOfMonth.month !== firstDayOfActiveMonth().month
        }"
        (click)="activeDay.set(dayOfMonth)"
        matTooltip="{{ getTooltipMessage(dayOfMonth) }}"
        *ngIf="dayOfMonth.month === firstDayOfActiveMonth().month"
      >
        {{ dayOfMonth.day }}

        @if(adminVersion) {
        <mat-icon
          class="add-training-icon visible"
          *ngIf="activeDay()?.toISODate() === dayOfMonth.toISODate()"
          (click)="openDialog($event)"
          matTooltip="Add training"
          matTooltipPosition="below"
          >add_circle
        </mat-icon>
        }

        <div class="events-container">
          <!-- Bulină pentru fiecare eveniment -->
          <div
            class="event-bullet"
            *ngFor="let event of getEventsForDay(dayOfMonth)"
          ></div>
          <div
            *ngIf="getEventsForDay(dayOfMonth).length > 5"
            class="additional-events"
          >
            {{ getEventsForDay(dayOfMonth).length - 5 }} more events
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="schedule">
    <div class="schedule-headline">
      @if (activeDay(); as activeDay) {
      <div>{{ activeDay.toLocaleString(DATE_MED) }}</div>
      } @else {
      <div class="schedule-headline-p">Please select a day</div>
      }
    </div>

    <div>
      @if (activeDay() && activeDayTrainings().length === 0) {
      <div>No Planned Meetings today</div>
      }@if (activeDayTrainings().length > 0) {
      <div class="mettings-container">
        <div
          class="meeting-button"
          [routerLink]="'/dashboard/training/' + training.trainingId"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          matTooltip="View training details"
          matTooltipPosition="below"
          *ngFor="let training of activeDayTrainings()"
        >
          {{ training.title }}

          @if (adminVersion) {
          <div class="icons-end">
            <span
              class="material-symbols-outlined edit training-edit-button"
              (click)="openDialogEdit($event, training.trainingId)"
          
            >
              edit
            </span>
            <span
              class="material-symbols-outlined delete training-edit-button"
              mat-button
              (click)="openDeleteDialog($event, training.trainingId)"
            >
              delete
            </span>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
