<div class="root-container">
  <h2 class="dialog-title">
    @if (type == "edit") {Edit Employee} @else {Add Employee}
  </h2>
  <form class="training-form" [formGroup]="form" (submit)="onSubmit()">
    <section clas="training-form-left">
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput required formControlName="fullName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail Address</mat-label>
          <input matInput type="email" required formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Trainer</mat-label>
          <mat-select formControlName="trainer" required>
            <mat-option value="1">Yes</mat-option>
            <mat-option value="0">No</mat-option>
          </mat-select>
        </mat-form-field>

        <app-employee-department-autoselector
          [type]="'Departments'"
          [errorMessage]="departmentsErrorMsg"
          (valuesEmitter)="onDepartmentsChange($event)"
        ></app-employee-department-autoselector>
      </div>
      <button class="main" mat-flat-button type="submit">Submit</button>
    </section>
  </form>
</div>
