/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --main: rgb(90, 106, 207);
  --main-20: rgba(90, 106, 207, 0.2);
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

.main-color {
  color: var(--main);
}

.main-background-color {
  background-color: var(--main-20);
}

.main-background-color-20 {
  background-color: rgba(90, 106, 207, 0.2);
}

.auth-form-container {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.auth-form-title {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.auth-names-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.auth-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth-input {
  margin-top: 10px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #666666;
  opacity: 0.35;
}

.auth-main-button {
  height: 47px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.auth-main-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Roboto", sans-serif;
}
.login-form-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.login-form-footer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.auth-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
