.root-container {
  background: var(--secondary-10);
  height: 100%;
  width: 240px;
  padding: 2rem 1rem;
  overflow: auto;
  transition: width 0.3s ease;
  position: relative;
}

.menu-title {
  font-weight: normal;
  font-size: 0.9rem;
  color: #082431;
  opacity: 0.6;
}

.menu-wrapper {
  width: 100%;
  height: 100%;
}

.menu-list {
  list-style: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-list.employee-version {
    justify-content: start;
}

.first-section {
  justify-content: flex-start;
}

.second-section {
  justify-content: flex-end;
}

/* butoanele de jos */
.menu-list-item.last {
  width: 100%;
}

.menu-list-item.last1 {
  width: 100%;
  padding: 0;
}

.collapse-button {
  bottom: 10px;
  border: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  padding-top: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.collapse-button:hover {
  background-color: none;
}

.collapse-button.right {
  justify-content: flex-end;
  padding-right: 10px;
}

.collapse-button.centered {
  justify-content: center;
}

/* butoanele de jos */

.menu-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 8px;
}

.menu-button:hover {
  background-color: var(--secondary-10);
}

.menu-button.active {
  background-color: var(--secondary);
}

.menu-button-label {
  font-weight: bold;
}

.menu-button-icon,
.menu-button-label {
  color: var(--secondary-40);
}

.menu-button.dropdown.open,
.menu-button.dropdown.active {
  background-color: var(--secondary);
}

.menu-button.dropdown.open .menu-button-label,
.menu-button.dropdown.open .menu-button-icon,
.navbar-icon-button {
  color: var(--tertiary-60);
}

.menu-button.dropdown.open .main-option .menu-button-label,
.menu-button.dropdown.open .main-option .menu-button-icon,
.menu-button.dropdown.active .main-option .menu-button-label,
.menu-button.dropdown.active .main-option .menu-button-icon {
  color: var(--tertiary);
}

.menu-button.dropdown.open .menu-button-label.active,
.menu-button.dropdown.open .menu-button-icon.active,
.navbar-icon-button.active {
  color: var(--tertiary);
}

.menu-button-icon.active,
.menu-button-label.active {
  color: var(--tertiary);
}

.menu-button > .left,
.menu-button.dropdown > .main-option > .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-button.dropdown {
  display: flex;
  justify-content: center;
  align-items: end;
}

.menu-button.dropdown.open {
  flex-direction: column;
  height: auto;
}

.menu-button.dropdown > .main-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button.dropdown > .main-option-collapsed {
  width: 24px;
}

.submenu-container {
  width: 100%;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.true.active {
  color: white;
}

.navbar-icon-button.active {
  color: var(--tertiary);
}

/* coll */
.root-container.collapsed .menu-button-label {
  display: none; /* Ascunde etichetele */
}

.root-container.collapsed {
  width: 60px; /* Sau orice lățime dorești pentru meniul redus */
  padding: 2rem 0.5rem;
}

.root-container.collapsed .menu-button-icon {
  margin: 0 auto; /* Centrează iconițele */
}

.root-container.collapsed .menu-button {
  justify-content: center; /* Centrează conținutul butoanelor */
}

.root-container.collapsed .menu-button.dropdown > .main-option > .right {
  display: none; /* Ascunde săgeata dropdown */
}

.root-container.collapsed .menu-button.dropdown > .main-option > .left {
  margin: 0 auto; /* Centrează iconița dropdown */
  justify-content: center;
}

/* coll */
