* {
  box-sizing: border-box;
}

.rootContainer {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.formContainer {
  height: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 600px;
  background-color: white;
  padding: 3rem 1rem;
  border-radius: 24px;
}

.optionsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  /* background-color: rgba(0, 0, 0, 0.25); */
  border-radius: 12px;
  overflow: hidden;
}

.optionButton {
  width: 50%;
  color: white;
  font-size: 1rem;
  height: 47px;
  background-color: var(--secondary);
  cursor: pointer;
  border: none;
}

.optionButton:hover {
  background-color: var(--secondary-40);
}

.optionButton.active {
  background-color: var(--secondary-40);
}

.optionButton.active:hover {
  background-color: var(--secondary-30);
}
