* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.rootContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
}

.formContainer {
  height: 500px;
  width: 400px;
  background-color: white;
  padding: 1rem;
}

.optionsContainer {
  width: 100%;
}

.optionButton {
  width: 50%;
  color: white;
  height: 40px;
  background-color: #111111;
  cursor: pointer;
  border: none;
}

.optionButton:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.optionButton.active {
  background-color: rgba(0, 0, 0, 0.25);
}

.optionButton.active:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.optionButton.sign-up {
  border-radius: 12px 0 0 12px;
}

.optionButton.log-in {
  border-radius: 0 12px 12px 0;
}
