<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Training Portal</title>
  </head>
  <body>
    <div class="rootContainer">
      <div class="formContainer">
        <div class="optionsContainer">
          <button class="optionButton sign-up" routerLink="/login">
            Log In
          </button>
          <button class="optionButton log-in" routerLink="/register">
            Sign Up
          </button>
        </div>
        <router-outlet />
      </div>
    </div>
  </body>
</html>
