<div class="root-container">
  <mat-form-field
    appearance="outline"
    [ngClass]="{ error: _error }"
    class="example-chip-list"
  >
    <mat-label [ngClass]="{ error: _error }">{{ type + "*" }}</mat-label>
    <mat-chip-grid #chipGrid [attr.aria-label]="type + ' input'">
      @for (value of selectedValues; track value) {
      <mat-chip-row (removed)="remove(value)">
        {{ value }}
        <button matChipRemove [attr.aria-label]="'remove ' + value">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      type="text"
      required
      #selectorInput
      [formControl]="formCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
      requireSelection
    >
      @for (value of filteredValues | async; track value) {
      <mat-option [value]="value">{{ value }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <span class="error-message">{{ this._errorMessage }}</span>
</div>
