<div class="auth-form-container">
  <h1 class="auth-form-title">Register</h1>
  <form class="auth-form" [formGroup]="form" (submit)="onSubmit()">
    <div class="auth-names-container">
      <div class="auth-input-container">
        <label class="auth-input-label" for="first-name">First Name*</label>
        <input
          type="text"
          class="auth-input"
          name="first-name"
          id="first-name-input"
          formControlName="firstName"
        />
        <div
          *ngIf="
            form.get('firstName')?.errors && form.get('firstName')?.touched
          "
        >
          <div *ngIf="form.get('firstName')?.errors?.['required']">
            <p class="auth-error-message">First Name is required</p>
          </div>
        </div>
      </div>

      <div class="auth-input-container">
        <label class="auth-input-label" for="first-name">Last Name*</label>
        <input
          type="text"
          class="auth-input"
          name="last-name"
          id="last-name-input"
          formControlName="lastName"
        />
      </div>
    </div>

    <div class="auth-input-container">
      <label class="auth-input-label" for="email-input">E-mail*</label>
      <input
        type="text"
        class="auth-input"
        name="email"
        id="email-input"
        formControlName="email"
      />
    </div>

    <div class="auth-input-container">
      <label class="auth-input-label" for="password-input">Password*</label>
      <input
        type="password"
        class="auth-input"
        name="password"
        id="password-input"
        formControlName="password"
      />
    </div>
    <div class="auth-input-container">
      <label class="auth-input-label" for="passwordrepeat-input"
        >Re-type Password*</label
      >
      <input
        type="password"
        class="auth-input"
        name="password"
        id="passwordrepeat-input"
        formControlName="repeatPassword"
      />
    </div>
    <button class="auth-main-button" type="submit">Register</button>
  </form>
</div>


